<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/classesPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="../../../templates/admin/indexPage.twig"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg"
                                                           alt="logo" width="70" height="70"></a>
</div>

<div id="plusButton">
    <a href="addClassPage.html"><img class="plusButton" src="/static/IMAGES/plusButton.png" alt="add"></a>
</div>

<div class="container">
    {% for class in list %}
    <ul class="item">
        <li class="className">
            {{ class.getClassName() }}
        </li>
        <p class="heading">Assigned mentor:</p>
        <li>
            {{ class.getAssignedMentor() }}
        </li>
        <p class="heading">Number of students:</p>
        <li>
            {{ class.getNumberOfStudents() }}
        </li>

        <li class="editButtonImage"><a href="/quest/admin/editClassPage/{{ class.getClassId() }}"><img
                        class="editButton" src="/static/IMAGES/wrench.png" alt="edit"></a></li>
    </ul>
    {% endfor %}
</div>

</body>
</html>