<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Admin/indexPage.css">
    <link rel="stylesheet" href="/static/CSS/Home/homePageStyle.css">
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
</head>
<body>


<div id="pageInfo">
    <img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" alt="logo" width="70" height="70">
    <nav role='navigation'>
        <div id="menuToggle">

            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/quest/admin/index">
                    <li>Home</li>
                </a>
                <a href="/quest/admin/mentors">
                    <li>Mentors</li>
                </a>
                <a href="/quest/admin/classes">
                    <li>Classes</li>
                </a>
                <a href="/quest/admin/levels">
                    <li>Pilar of experience</li>
                </a>
                <a href="/quest/admin/logout">
                    <li>Log out</li>
                </a>
            </ul>
        </div>
    </nav>
</div>

<div class="mainContent">
    <img class="picture" src="../../static/IMAGES/creepyGuy.jpg">
    <h1 class="headerStyle">Creepy Guy Domain</h1>

    <ul class="containerHomeAdjustments container">
        <li class="item itemHomeAdjustments">
            <img class="itemPicture" src="../../static/IMAGES/programming-code.png"><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis, lacus at tincidunt congue, enim
                diam cursus tellus, sed pulvinar massa enim quis lectus. Proin pellentesque elit orci, eget ullamcorper
                arcu fringilla dictum. Donec bibendum erat eget consectetur maximus. In luctus ac lacus eget imperdiet.
                Mauris nulla nisl, pellentesque blandit elementum in, varius a neque. Pellentesque dapibus scelerisque
                leo id sagittis. Ut non vehicula est. In varius arcu justo, ut bibendum est placerat consequat. Cras
                congue leo at eros lacinia, eu pharetra ex fermentum.</p>
        </li>
        <li class="item itemHomeAdjustments">
            <img class="itemPicture" src="../../static/IMAGES/cloud-download.png"><br>
            Suspendisse potenti. In hac habitasse platea dictumst. Suspendisse condimentum, eros id rutrum lobortis,
            erat nunc accumsan neque, ut malesuada felis sapien in massa. Etiam tempus purus egestas, aliquam ligula
            sed, accumsan massa. Nulla mollis mi vitae vestibulum accumsan. Nullam tempus congue gravida. Curabitur ut
            magna at tellus posuere vehicula. Duis gravida arcu quis magna lacinia volutpat. Sed varius diam eget
            feugiat viverra. Proin sed vestibulum metus, sit amet vulputate libero. Fusce ut leo luctus, lobortis urna
            vel, tempus dui.
        </li>
        <li class="item itemHomeAdjustments">
            <img class="itemPicture" src="../../static/IMAGES/refresh-page-arrow-button.png"><br>
            Nulla elementum tempus dui, vitae semper erat gravida sed. Phasellus scelerisque, diam a posuere pharetra,
            metus lectus dictum nunc, et porttitor diam turpis vitae enim. Aenean id varius magna, quis pretium nisi. In
            hac habitasse platea dictumst. Sed facilisis lacinia sem. Vivamus placerat sem nunc, eget venenatis ante
            tempor sit amet. In fermentum justo non neque fermentum, id malesuada neque hendrerit. Donec suscipit, urna
            non ultrices volutpat, enim massa tincidunt velit, quis tristique ligula urna eget magna. Pellentesque in
            faucibus ligula.
        </li>
        <li class="item itemHomeAdjustments">
            <img class="itemPicture" src="../../static/IMAGES/steam-logo.png"><br>
            Aliquam nisi augue, gravida vitae ex sit amet, facilisis maximus lectus. Phasellus sit amet ex ac felis
            convallis laoreet. Pellentesque dignissim, purus in feugiat semper, ex velit porttitor massa, ut tristique
            sem elit eu velit. Duis tincidunt elit a leo faucibus, at scelerisque lectus congue. Aenean interdum erat
            diam. Nunc tortor velit, vestibulum at auctor ac, tristique ut nulla. Praesent aliquet felis velit, nec
            lacinia mauris posuere fermentum. Quisque a enim nec magna sodales fringilla. Ut felis magna, ullamcorper id
            rutrum a, fringilla sit amet risus. Morbi vel faucibus enim, et maximus nulla. Mauris magna velit, vehicula
            et magna id, aliquam sodales nisi. Vivamus in tincidunt massa, lacinia imperdiet ipsum. Mauris congue lorem
            in lectus fermentum ultrices.
        </li>
    </ul>

</div>


</body>
</html>