<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../CSS/flexboxStyle.css">
    <link rel="stylesheet" href="../../CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="../../CSS/Admin/classesPage.css">
</head>
<body>

<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/quest/admin/index">
                <li>Home</li>
            </a>
            <a href="/quest/admin/mentors">
                <li>Mentors</li>
            </a>
            <a href="/quest/admin/classes">
                <li>Classes</li>
            </a>
            <a href="/quest/admin/levels">
                <li>Pilar of experience</li>
            </a>
            <a href="/quest/admin/logout">
                <li>Log out</li>
            </a>
        </ul>
    </div>
</nav>

<div id="pageInfo">
    <a href="../../../templates/admin/indexPage.twig"><img id="logoImage" src="../../IMAGES/logoCodecool.jpg" alt="logo" width="70" height="70"></a>
</div>
<div id="plusButton">
    <a href="addLevelPage.html"><img class="plusButton" src="../../IMAGES/plusButton.png" alt="add"></a>
</div>

<div class="container">
    <ul class="item">
        <li class="level">
            LVL
        </li>
        <p class="heading">Coolcoin gap:</p>
        <li class="email">
            0
        </li>
        <p class="heading">Level title:</p>
        <li class="email">
            Typowy plebs, glupi
        </li>

        <li class="editButtonImage"><a href="editLevelPage.html"><img class="editButton" src="../../IMAGES/wrench.png" alt="edit"></a></li>
    </ul>
</div>

</body>
</html>