<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artifacts</title>
    <link rel="stylesheet" href="../../CSS/flexboxStyle.css">
    <link rel="stylesheet" href="../../CSS/IndexPageStyle.css">
</head>
<body>



<div id="pageInfo">
    <img id="logoImage" src="../../IMAGES/logoCodecool.jpg" width="70" height="70">
    <nav role='navigation'>
        <div id="menuToggle">

            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <p id="mentorName">Mentor</p>
                <a href="indexPage.twig"><li>Home</li></a>
                <a href="codecoolerPage.twig"><li>Codecooler</li></a>
                <a href="questPage.twig"><li>Quests</li></a>
                <a href="artifactPage.twig"><li>Artifacts</li></a>
                <a id="logoutButton" href="../loginPage.html"><li>Log out</li></a>
            </ul>
        </div>
    </nav>
</div>

<div id="pageInfo">
    <a href="indexPage.twig"><img id="logoImage" src="../../IMAGES/logoCodecool.jpg" width="70" height="70"></a>
</div>
<div id="plusButton">
    <a href="addArtifactPage.twig"><img class="plusButton" src="../../IMAGES/plusButton.png"></a>
</div>

<div class="container">
    <ul class="item">
        <img class="avatar" src="#" alt="Artifact image">
        <li class="artifactName">
            Test Artifact
        </li>
        <p class="heading">Description:</p>
        <li class="description">
            Decription
        </li>
        <p class="heading">prize:</p>
        <li class="prize">
            Artifact prize
        </li>
        <li class="editButtonImage"><a href="editArtifactPage.twig"><img class="editButton" src="../../IMAGES/wrench.png" ALT="EDIT"></a></li>
    </ul>

</div>

</body>
</html>