<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit quest</title>
    <link rel="stylesheet" href="../../CSS/flexboxStyle.css">
    <link rel="stylesheet" href="../../CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="../../CSS/Mentor/editCodecoolerPage.css">
</head>
<body>



<div id="pageInfo">
    <img id="logoImage" src="../../IMAGES/logoCodecool.jpg" width="70" height="70">
    <nav role='navigation'>
        <div id="menuToggle">

            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <p id="mentorName">Mentor</p>
                <a href="indexPage.twig"><li>Home</li></a>
                <a href="codecoolerPage.twig"><li>Codecooler</li></a>
                <a href="questPage.twig"><li>Quests</li></a>
                <a href="artifactPage.twig"><li>Artifacts</li></a>
                <a id="logoutButton" href="../loginPage.html"><li>Log out</li></a>
            </ul>
        </div>
    </nav>
</div>

<div id="pageInfo">
    <a href="indexPage.twig"><img id="logoImage" src="../../IMAGES/logoCodecool.jpg" width="70" height="70"></a>
</div>

<div class="container">
    <form>
        <ul class="item">
            <li class="avatarImage">
                <img class="avatar" src="#" alt="Quest image">
            </li>
            <li class="questName">
                <input class="input" type="text" placeholder="Quest name" value="Quest name"/>

            </li>
            <p class="heading">Description:</p>
            <li class="decription">
                <input class="input" type="text" placeholder="Description" value="Quest description"/>
            </li>
            <p class="heading">Value:</p>
            <li class="questValue">
                <input class="input" type="text" placeholder="Quest value" value="Quest value"/>
            </li>
            <li class="editButtonsImage">
                <a href="#"><img class="deleteButton" src="../../IMAGES/deleteButton.png" alt="delete"></a>
                <a href="#"><img class="cancelButton" src="../../IMAGES/cancelButton.png" alt="cancel"></a>
                <a href="#"><img class="confirmButton" src="../../IMAGES/tickButton.png" alt="confirm"></a>
            </li>
        </ul>
    </form>
</div>

</body>
</html>