<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor</title>
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
    <link rel="stylesheet" href="/static/CSS/Home/homePageStyle.css">
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
</head>
<body>

<div id="pageInfo">
    <a href="/quest/mentor/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" width="70" height="70"></a>
    <nav role='navigation'>
        <div id="menuToggle">

            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/quest/mentor/index">
                    <li>Home</li>
                </a>
                <a href="/quest/mentor/codecoolers">
                    <li>Codecoolers</li>
                </a>
                <a href="/quest/mentor/quests">
                    <li>Quests</li>
                </a>
                <a href="/quest/mentor/artifacts">
                    <li>Artifacts</li>
                </a>
                <a href="/quest/mentor/transactions">
                    <li>Transactions history</li>
                </a>
                <a href="/quest/mentor/pendingArtifacts">
                    <li>Pending Artifact Usage</li>
                </a>
                <a href="/quest/mentor/logout">
                    <li>Log out</li>
                </a>
            </ul>
        </div>
    </nav>
</div>

<div class="mainContent">
    {% for mentor in list %}
        <img class="picture" src="/static/IMAGES/{{ mentor.getAvatarFile() }}" alt="Mentor picture">
        <h1 class="headerStyle">{{ mentor.getFullName() }}</h1>
        <ul class="containerHomeAdjustments container">
            <li class="item itemHomeAdjustments">
                <img class="itemPicture" src="/static/IMAGES/levelIcon.png" alt="itemPicture"><br>
                <h1 class="headerStyle">Class</h1>
                <p class="profileInfoDescription">
                    Your class is:
                </p>
                <p class="profileInfoValue">
                    {{ mentor.getClassName() }}
                </p>
                <p class="profileInfoDescription">
                    :)
                </p>

            </li>
        </ul>
    {% endfor %}
</div>

</body>
</html>