<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions History</title>
    <link rel="stylesheet" href="/static/CSS/flexboxStyle.css">
    <link rel="stylesheet" href="/static/CSS/IndexPageStyle.css">
</head>
<body>


<div id="pageInfo">
    <img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" width="70" height="70">
    <nav role='navigation'>
        <div id="menuToggle">

            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/quest/mentor/index">
                    <li>Home</li>
                </a>
                <a href="/quest/mentor/codecoolers">
                    <li>Codecoolers</li>
                </a>
                <a href="/quest/mentor/quests">
                    <li>Quests</li>
                </a>
                <a href="/quest/mentor/artifacts">
                    <li>Artifacts</li>
                </a>
                <a href="/quest/mentor/transactions">
                    <li>Transactions history</li>
                </a>
                <a href="/quest/mentor/logout">
                    <li>Log out</li>
                </a>
            </ul>
        </div>
    </nav>
</div>

<div id="pageInfo">
    <a href="/quest/mentor/index"><img id="logoImage" src="/static/IMAGES/logoCodecool.jpg" width="70" height="70"></a>
</div>

<div class="container">
    {% for transaction in list %}
        <ul class="item">
            <p class="heading">Buyer:</p>
            <li class="questName">
                {{ transaction.getBuyer() }}
            </li>
            <p class="heading">Date:</p>
            <li class="description">
                {{ transaction.getDate() }}
            </li>
            <p class="heading">Artifact name:</p>
            <li class="questValue">
                {{ transaction.getArtifactName() }}
            </li>
        </ul>
    {% endfor %}

</div>

</body>
</html>